{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
<h1 style="width: 100%;background-color: #04AA6D;color: white;font-size: 28px;text-align: center;"> Detail Page <button style="float: right;background-color: blue;font-size: 21px;color: white;border-radius: 10px;"><a style="text-decoration: none;color: white;" href="{% url 'logout' %}">Log Out</a> </button></h1>

<table id="customers">
  <tr>
    <th>S. NO.</th>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Conform Password </th>
    <th>Address</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <form class="modal-content" action="" method="post">
    {% csrf_token %}
{% for i in contaxt %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.username }}</td>
    <td>{{ i.email }}</td>
    <td>{{ i.password }}</td>
    <td>{{ i.conform_password }}</td>
    <td>{{ i.address }}</td>
    <td><button style="background-color: #04AA6D;font-size: 25px;border-radius:10px;"><a href="{% url 'detail_update' %}?username={{ i.username }}&&email={{ i.email }}" style="color:black;text-decoration: none;">Edit</a></button></td>
    <td><button type="submit" style="background-color: red;font-size: 25px;border-radius: 10px;"  name="user_id" value="{{ i.user_id }}">Delete</button></td>
  </tr>
{% endfor %}
  </form>
</table>

</body>
</html>
